{% extends "base.html" %} {% block main %}
<h1>Friendship Data Structure (Graph Adjacency Matrix)</h1>
<table border="1" align="center">
    <tr>
        <th></th>
        {% for i in col_length %}
        <th>{{ users[i][1] }}</th>
        {% endfor %}
    </tr>
    {% for i in col_length %}
    <tr>
        <th>{{ users[i][1] }}</th>
        {% for j in col_length %}
        <td style="background-color: {% if matrix[i][j] == 1 %}yellow{% else %}gray{% endif %};">{{ matrix[i][j] }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock %}
