<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <title>{% block title%}{{ BRAND_NAME }}{% endblock %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1, width=device-width" />

        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
        {% endblock %}
    </head>
    <body>
        <header>
            {% block header %}
            <nav>
                <ul>
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    {% if session.logged_in %}
                    <li><a href="{{ url_for('profile') }}">Profile</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% else %}
                    <li><a href="{{ url_for('login') }}">Login/Register</a></li>
                    {% endif %}
                    <li><a href="{{ url_for('about') }}">About</a></li>
                </ul>
            </nav>
            {% endblock %}
        </header>
        <main>
            {% block notify %} {% if server_message %}
            <div class="server-message"><p>{{ server_message }}</p></div>
            {% endif %} {% endblock %}
            <!-- The main content -->
            {% block main %}
            <h2 class="wip">This page is currently under development.</h2>
            {% endblock %}
        </main>
        <footer>
            {% block footer %}
            <hr />
            <p>&copy; {{ COPYRIGHT_YEAR }} {{ BRAND_NAME }}</p>
            {% endblock %}
        </footer>
    </body>
</html>
