{% extends "base.html" %}

{% block title %}Login - {{ BRAND_NAME }}{% endblock %}

{% block main %}
<h1>{{ BRAND_NAME }} - Login</h1>
{% if error %}
<p class="error">{{ error }}</p>
{% endif %}
<form action="/login" method="POST">
    <div>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required />
    </div>
    <div>
        <input type="submit" value="Login" />
    </div>
</form>
<small><a href="{{ url_for('register') }}">Not yet registered?</a></small>
{% endblock %}
