<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1, width=device-width" />

        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/newsfeed.css')}}" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
        />
    </head>
    <body>
        <div class="homepage">
            <div class="img">
                <img class="scene-01-1" alt="" src="{{ url_for('static', filename='media/scene-01-1@2x.png') }}" />
            </div>
            <div class="write-new-post">
                <div class="base"></div>
                <div class="base1"></div>
                <div class="write-something">Write something ...</div>
                <img class="edit-icon" alt="" src="{{ url_for('static', filename='media/edit.svg') }}" />

                <div class="write-new-post-child"></div>
                <div class="icons">
                    <div class="images">
                        <img class="image-icon" alt="" src="{{ url_for('static', filename='media/image.svg') }}" />

                        <div class="photo">Photo</div>
                    </div>
                    <div class="videos">
                        <img class="image-icon" alt="" src="{{ url_for('static', filename='media/video.svg') }}" />

                        <div class="video">Video</div>
                    </div>
                    <div class="event">
                        <img class="image-icon" alt="" src="{{ url_for('static', filename='media/calendar.svg') }}" />

                        <div class="event1">Event</div>
                    </div>
                    <div class="article">
                        <img class="image-icon" alt="" src="{{ url_for('static', filename='media/document.svg') }}" />

                        <div class="article1">Article</div>
                    </div>
                </div>
                <img class="send-icon" alt="" src="{{ url_for('static', filename='media/send.svg') }}" />

                <img class="write-new-post-item" alt="" src="{{ url_for('static', filename='media/rectangle-17@2x.png') }}" />
            </div>
            <div class="rectangle-parent">
                <div class="frame-child"></div>
                <div class="frame-item"></div>
                <div class="try-free">Try free</div>
                <div class="one-month-free">--One month free</div>
                <img class="frame-inner" alt="" src="{{ url_for('static', filename='media/polygon-1.svg') }}" />

                <img class="teamwork-transparent-1" alt="" src="{{ url_for('static', filename='media/10teamwork-transparent-1@2x.png') }}" />

                <div class="try-premium-for-container">
                    <p class="try-premium">Try Premium</p>
                    <p class="try-premium">for free</p>
                </div>
                <div class="ellipse-div"></div>
                <div class="frame-child1"></div>
                <img class="logo-icon" alt="" src="{{ url_for('static', filename='media/logo.svg') }}" />

                <img class="logo-icon1" alt="" src="{{ url_for('static', filename='media/logo1.svg') }}" />

                <img class="logo-icon2" alt="" src="{{ url_for('static', filename='media/logo2.svg') }}" />
            </div>
            <div class="pages">
                <div class="page-1">
                    <img class="plus-icon" alt="" src="{{ url_for('static', filename='media/logo3.svg') }}" />

                    <div class="ux-design">UX Design</div>
                </div>
                <div class="page-2">
                    <div class="logo">
                        <img class="icon17-2" alt="" src="{{ url_for('static', filename='media/icon172@2x.png') }}" />
                    </div>
                    <div class="ui-design">UI Design</div>
                    <div class="counter">
                        <div class="div">+99</div>
                    </div>
                </div>
                <div class="page-3">
                    <img class="plus-icon" alt="" src="{{ url_for('static', filename='media/plus.svg') }}" />

                    <div class="add-new-page">Add new page</div>
                </div>
            </div>
            <div class="menu">
                <div class="icons1">
                    <div class="div1">
                        <img class="play-icon" alt="" src="{{ url_for('static', filename='media/play.svg') }}" />

                        <div class="learning">Learning</div>
                    </div>
                    <div class="div2">
                        <img class="plus-icon" alt="" src="{{ url_for('static', filename='media/chart.svg') }}" />

                        <div class="insights">Insights</div>
                    </div>
                    <div class="div3">
                        <img class="plus-icon" alt="" src="{{ url_for('static', filename='media/add-user.svg') }}" />

                        <div class="find-colleagues">Find colleagues</div>
                    </div>
                    <div class="div4">
                        <img class="plus-icon" alt="" src="{{ url_for('static', filename='media/bookmark.svg') }}" />

                        <div class="bookmarks">Bookmarks</div>
                    </div>
                    <div class="div5">
                        <img class="game-icon" alt="" src="{{ url_for('static', filename='media/game.svg') }}" />

                        <div class="gaming">Gaming</div>
                        <div class="counter1">
                            <div class="new">New</div>
                        </div>
                    </div>
                    <div class="div6">
                        <img class="plus-icon" alt="" src="{{ url_for('static', filename='media/setting.svg') }}" />

                        <div class="settings">Settings</div>
                    </div>
                </div>
            </div>
            <div class="people">
                <div class="people-you-may">People you may know:</div>
                <div class="people1">
                    <div class="div7">
                        <img class="child" alt="" src="{{ url_for('static', filename='media/ellipse-2@2x.png') }}" />

                        <div class="name">
                            <div class="tenchie-adolfo">Tenchie Adolfo</div>
                            <div class="front-end-developer">Front-End Developer</div>
                        </div>
                        <div class="btn">
                            <div class="connect">Connect</div>
                        </div>
                    </div>
                    <div class="div8">
                        <img class="item" alt="" src="{{ url_for('static', filename='media/ellipse-21@2x.png') }}" />

                        <div class="name1">
                            <div class="ryan-roslansky">Ryan Roslansky</div>
                            <div class="ceo-of-linkedin">CEO of Linkedin</div>
                        </div>
                        <div class="btn1">
                            <div class="connect">Connect</div>
                        </div>
                    </div>
                    <div class="div8">
                        <img class="item" alt="" src="{{ url_for('static', filename='media/ellipse-22@2x.png') }}" />

                        <div class="name2">
                            <div class="dylan-field">Dylan Field</div>
                            <div class="ceo-of-figma">CEO of Figma</div>
                        </div>
                        <div class="btn1">
                            <div class="connect">Connect</div>
                        </div>
                    </div>
                </div>
                <div class="people-child"></div>
                <div class="see-all">See All</div>
            </div>
            <div class="icon">
                <img class="arrow-up-2" alt="" src="{{ url_for('static', filename='media/arrow--up-2.svg') }}" />

                <img class="game-icon" alt="" src="{{ url_for('static', filename='media/chat.svg') }}" />

                <div class="messages">Messages</div>
            </div>
            <div class="hashtags">
                <div class="frame">
                    <div class="work">#work</div>
                </div>
                <div class="frame1">
                    <div class="userinterface">#userinterface</div>
                </div>
                <div class="frame2">
                    <div class="userexperience">#userexperience</div>
                </div>
                <div class="frame3">
                    <div class="ux">#ux</div>
                </div>
                <div class="frame4">
                    <div class="ui">#ui</div>
                </div>
                <div class="frame5">
                    <div class="freelance">#freelance</div>
                </div>
                <div class="frame6">
                    <div class="digital">#digital</div>
                </div>
                <div class="frame7">
                    <div class="business">#business</div>
                </div>
                <div class="frame8">
                    <div class="hr">#hr</div>
                </div>
                <div class="line"></div>
                <div class="followed-hashtags">Followed hashtags</div>
            </div>
            <img class="plus-icon1" alt="" src="{{ url_for('static', filename='media/plus1.svg') }}" />

            <div class="profile">
                <img class="profile-child" alt="" src="{{ url_for('static', filename='media/rectangle-9.svg') }}" />

                <img class="profile-item" alt="" src="{{ url_for('static', filename='media/rectangle-19@2x.png') }}" />

                <img class="profile-inner" alt="" src="{{ url_for('static', filename='media/rectangle-16@2x.png') }}" />

                <div class="christoper-tayao">Christoper Tayao</div>
                <div class="back-end-developer">Back-End Developer</div>
                <div class="div10">90%</div>
                <div class="add-another-account">Add another account</div>
                <img class="plus-icon2" alt="" src="{{ url_for('static', filename='media/plus2.svg') }}" />

                <img class="logo-icon4" alt="" src="{{ url_for('static', filename='media/logo4.svg') }}" />

                <div class="line-div"></div>
                <div class="profile-child1"></div>
                <div class="profile-child2"></div>
            </div>
            <div class="post1">
                <div class="rectangle-group">
                    <img class="rectangle-icon" alt="" src="{{ url_for('static', filename='media/rectangle-22@2x.png') }}" />

                    <div class="healthy-tracking-app">-Healthy Tracking App</div>
                    <div class="frame-parent">
                        <div class="christopher-tayao-parent">
                            <div class="christopher-tayao">Christopher Tayao</div>
                            <div class="back-end-developer1">Back-End Developer</div>
                            <img class="logo-icon5" alt="" src="{{ url_for('static', filename='media/logo4.svg') }}" />

                            <img class="frame-child2" alt="" src="{{ url_for('static', filename='media/rectangle-21@2x.png') }}" />
                        </div>
                        <img class="group-icon" alt="" src="{{ url_for('static', filename='media/group-48095420.svg') }}" />
                    </div>
                    <div class="icons-parent">
                        <div class="icons2">
                            <img class="chat-icon1" alt="" src="{{ url_for('static', filename='media/chat1.svg') }}" />

                            <div class="counter2">
                                <div class="div11">8</div>
                            </div>
                            <img class="send-icon1" alt="" src="{{ url_for('static', filename='media/send1.svg') }}" />

                            <img class="bookmark-icon1" alt="" src="{{ url_for('static', filename='media/bookmark1.svg') }}" />

                            <img class="uiwlike-o-icon" alt="" src="{{ url_for('static', filename='media/uiwlikeo.svg') }}" />

                            <div class="counter3">
                                <div class="linkedin-celebrate-icon-clappi-parent">
                                    <img
                                        class="linkedin-celebrate-icon-clappi"
                                        alt=""
                                        src="{{ url_for('static', filename='media/linkedincelebrateiconclappinghands500@2x.png') }}"
                                    />

                                    <img
                                        class="linkedin-love-icon-heart500"
                                        alt=""
                                        src="{{ url_for('static', filename='media/linkedinloveiconheart500@2x.png') }}"
                                    />

                                    <img
                                        class="linkedin-support-icon-heartinh"
                                        alt=""
                                        src="{{ url_for('static', filename='media/linkedinsupporticonheartinhand500@2x.png') }}"
                                    />
                                </div>
                                <div class="div12">+99</div>
                            </div>
                        </div>
                        <div class="rectangle-container">
                            <img class="frame-child3" alt="" src="{{ url_for('static', filename='media/rectangle-24@2x.png') }}" />

                            <img class="image-icon1" alt="" src="{{ url_for('static', filename='media/image1.svg') }}" />

                            <img class="voice-icon" alt="" src="{{ url_for('static', filename='media/voice.svg') }}" />

                            <div class="write-a-comment">Write a comment</div>
                        </div>
                    </div>
                </div>
            </div>
            <img class="post2-icon" alt="" src="{{ url_for('static', filename='media/post2.svg') }}" />

            <div class="header">
                <b class="social-network">Social Network</b>
                <div class="search-for-anything-jobs-parent">
                    <div class="search-for-anything">Search for anything (Jobs)</div>
                    <img class="frame-icon" alt="" src="{{ url_for('static', filename='media/frame-48095435.svg') }}" />
                </div>
                <div class="header-child"></div>
                <div class="header-item"></div>
                <div class="home-parent">
                    <img class="home-icon" alt="" src="{{ url_for('static', filename='media/home.svg') }}" />

                    <img class="user-icon" alt="" src="{{ url_for('static', filename='media/3-user.svg') }}" />

                    <img class="work-icon" alt="" src="{{ url_for('static', filename='media/work.svg') }}" />

                    <img class="profile-icon" alt="" src="{{ url_for('static', filename='media/profile.svg') }}" />

                    <div class="notification-parent">
                        <img class="home-icon" alt="" src="{{ url_for('static', filename='media/notification.svg') }}" />

                        <div class="wrapper">
                            <div class="search-for-anything">9+</div>
                        </div>
                    </div>
                    <div class="frame-group">
                        <div class="container">
                            <div class="search-for-anything">6</div>
                        </div>
                        <img class="chat-icon2" alt="" src="{{ url_for('static', filename='media/chat2.svg') }}" />
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
