{% extends "base.html" %}

{% block title %}People{% endblock %}

{% block main %}
<h1 style="padding-left: 10%;">Other Users</h1>
{% for user in users %}
<div class="card">
    <h3>{{ user.first_name }} {{ user.last_name }} {% if user.is_self %}(You){% endif %}</h3>
    <li>Email: <b>{{ user.email }}</b></li>
    <li>Phone Number: <b>{{ user.phone_number }}</b></li>
    <li>Address: <b>{{ user.address }}</b></li>
    {% if not user.is_self %}
    {% if user.is_friend %}
    <li><a class="button-link" href="{{ url_for('remove_friend', friend_id=user.user_id) }}">Unfriend</a></li>
    {% else %}
    <li><a class="button-link" href="{{ url_for('add_friend', friend_id=user.user_id) }}">Add Friend</a></li>
    {% endif %}
    {% else %}
    {% endif %}
</div>
{% endfor %}
{% endblock %}