{% extends "base.html" %}

{% block title %}Create a New Account - {{ BRAND_NAME }}{% endblock %}

{% block main %}
<h1>{{ BRAND_NAME }} - Register</h1>
{% if error %}
<p class="error">{{ error }}</p>
{% endif %}
<form action="/register" method="POST">
    <div>
        <table>
            <tr>
                <td><label for="username">Username</label></td>
                <td><input type="text" name="username" id="username" required /></td>
            </tr>
            <tr>
                <td><label for="password">Password</label></td>
                <td><input type="password" name="password" id="password" required /></td>
            </tr>
            <tr>
                <td><label for="password-confirm">Confirm Password</label></td>
                <td>
                    <input type="password" name="password-confirm" id="password-confirm" required />
                </td>
            </tr>
        </table>
        <input type="submit" value="Login" />
    </div>
</form>
{% endblock %}
