* {
    font-family: sans-serif;
}

body > header > nav ul > li {  /* The horizontal navbar */
    display: inline-block;
    padding: 10px;
}

.wip {
    color: #ff0000;
    font-weight: bold;
    text-align: center;
}

.error {
    color: #ff0000;
    font-weight: bold;
}

.server-message {
    color: black;
    background-color: yellow;
    font-weight: bold;
}
